html, body {
  height: 100%;
}
body {
  font-family: 'proxima_nova_rgregular',Helvetica, sans-serif;
  font-size: 13px; color:#FFFFFF; color:#c7c7c7; position:relative;
  background: url(../assets/bgb_03.gif);
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

.prxContent {
  min-height: 100%;
  position: relative;
  display: block;
}
body a{
  text-decoration: none;color:#FFFFFF;
  font-family: 'proxima_nova_rgregular',Helvetica, sans-serif;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
   outline: 0;
}

.clearfix{ clear:both; }

.clear{ clear:both; content: ".";display: block; clear: both;visibility: hidden;line-height: 0; height: 0;}

.wrapper{
  margin: 0 auto;
  position: relative;
  width: 1200px;
}

header {
  height: 83px;
  width: 100%;
  background: url(../assets/header-bg_05.gif) repeat-x 0 20px;
  background-color: #000000;
  padding-top: 20px;
  z-index: 20;
  position: relative;
  left: 0;
  position: fixed;
  width: 100%;
  top: 0;
}

header .headerwrapper {
  max-width: 1200px;
  margin: 0px auto 0;
}

header img {
  height: 49px;
  margin-top: 16px;

}

.mainContent {
  max-width: 1200px;
  margin: 130px auto 0px;
  padding-bottom: 200px;
}

.hidden {
  opacity: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
}

.newsFeed li {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.warning {
  width: 94%;
  margin: 10px 0%;
  background-color: rgba(160, 255, 160, 0.5);
  padding: 10px 3%;
}

select {
  padding: 5px;
  border: 1px solid #333;
  box-shadow: inset 1px 1px 1px #000;
}

footer {
  background: url(../assets/footerbg_11.jpg);
  width: 100%;
  z-index: 100;
  position: absolute;

  bottom: 0;
  background-color: #090909;
  margin-top: 50px;
}

.bottomlinks {
  float: left;
  margin: 40px 15% 0;
  width: 70%;
}

 li {
  list-style-type: none;
  display: inline-block;
}

.bottomlinks ul li {
  font-size: 18px;
  padding-left: 2%;
  padding-right: 2%;
  width: 9.5%;
  min-width: 50px;
  color: #c7c7c7;
}

.socialmedia {
  max-width: 510px;
  margin: 0 auto;
  margin-top: 25px;
  overflow: hidden;
}

.socialmedia ul li {
  float: left;
  width: 20%;
  margin: 0 2% 10px;
}