<div class="wrapper">
  <div class="footer">
      <div class="bottomlinks">
        <ul>
          <li><a href="https://www.paradoxplaza.com/">Home</a></li>
          <li><a href="https://www.paradoxplaza.com/news">News</a></li>
          <li><a href="https://www.paradoxplaza.com/games">Games</a></li>
          <li><a href="https://www.paradoxplaza.com/books">Books</a></li>
          <li><a href="https://www.paradoxplaza.com/merchandise">Merch</a></li>
          <li><a href="http://forum.paradoxplaza.com/forum/" target="_blank">Forum</a></li>
          <li><a href="/about-us">About</a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
      <div class="socialmedia">
        <ul>
          <li><a title="Facebook" target="_blank" href="https://www.facebook.com/ParadoxInteractive"><img src="https://www.paradoxplaza.com/skin/frontend/default/vc/images/facebook.png" alt="facebook"></a></li>
          <li><a title="Twitter" target="_blank" href="https://twitter.com/PdxInteractive"><img src="https://www.paradoxplaza.com/skin/frontend/default/vc/images/twitter.png" alt="twitter"></a></li>
          <li><a title="YouTube" target="_blank" href="http://www.youtube.com/user/Paradoxplaza"><img src="https://www.paradoxplaza.com/skin/frontend/default/vc/images/youtube.png" alt="youtube"></a></li>
          <li><a title="YouTube" target="_blank" href="http://www.twitch.tv/paradoxinteractive/"><img src="https://www.paradoxplaza.com/skin/frontend/default/vc/images/twitch_footer_pdxplaza.png" alt="twitch"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>